In [1]:
import pandas as pd

## AirBnB exercise

In [2]:
df = pd.read_csv("airbnb.csv")
df

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
...,...,...,...,...,...,...,...,...,...
13227,19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
13228,19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
13229,19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
13230,19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
13231,19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

In [3]:
filt = (df['accommodates'] >= 4) & (df['bedrooms'] == 2) & (df['reviews'] > 10) & (df['overall_satisfaction'] >= 4)

filtered_data = df[filt]
sorted_data = filtered_data.sort_values(by=["overall_satisfaction", 'reviews'], ascending=[False, False])
sorted_data.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
388,496195,647439,Entire home/apt,Santa Maria Maior,259,5.0,4,2.0,52.0
30,77466,415066,Entire home/apt,Misericórdia,255,5.0,5,2.0,80.0
131,187442,901710,Entire home/apt,Santa Maria Maior,244,5.0,4,2.0,79.0

## Crimes exercise

In [4]:
data_frame = pd.read_excel("crimes_2019.xlsx")
data_frame.set_index("mes", inplace=True)
data_frame

,Robo_total_de_vehículo,Robo_parcial_de_vehículo,Vandalismo,Robo_en_casa_habitación,Robo_asalto_en_la_calle,Otros_robos,Fraude_bancario,Fraude_al_consumidor,Extorsión,Amenazas,Agresión_física,Secuestro,Hostigamiento_sexual,Violación_sexual,Otros,total
mes,,,,,,,,,,,,,,,,
Enero,55410,185970,182681,124082,591161,74142,186421,106629,288679,236877,76089,1674,175521,6927,8046,2300309
Febrero,78790,273291,215370,137262,767891,77509,248788,156980,421163,223626,90286,24172,238142,7301,2677,2963248
Marzo,63093,288800,228568,167751,715795,84226,239130,169213,480729,237708,72707,10164,174162,14293,6484,2952823
Abril,42417,190627,159979,122523,555979,70645,208605,94562,259873,173785,94208,3543,161562,2094,4415,2144817
Mayo,46878,236017,191909,148177,710044,70469,213322,176301,358988,188141,95321,4927,148256,11250,3445,2603445
Junio,63132,259513,215902,171718,644790,92239,245245,135347,510506,261422,85908,8097,157653,6815,7805,2866092
Julio,44443,172323,154661,142891,527744,77681,218982,95751,351714,134701,69619,9076,151435,13123,3088,2167232
Agosto,38884,178837,152774,127840,484218,85136,215516,115145,330393,190316,78244,7130,199488,2980,11708,2218609
Septiembre,39516,207224,156636,115087,627147,67922,202817,104684,308582,252714,93187,18258,153093,1854,9755,2358476
Octubre,40420,222350,143254,142578,696700,82967,215265,102953,315631,226892,67838,2705,185916,4527,4382,2454378
Noviembre,67038,259079,204429,209539,839819,115574,297788,193667,420393,274428,132410,6712,285509,10224,18111,3334720
Diciembre,53930,261835,204720,205733,861550,116764,297410,233877,425438,335929,131096,8321,282120,15364,19680,3453767

In [5]:
# a) Vehicles complaints
total_vehicle = (data_frame["Robo_total_de_vehículo"] + data_frame["Robo_parcial_de_vehículo"]) * 100 \
                / (data_frame["total"])
total_vehicle

mes
Enero         10.493373
Febrero       11.881591
Marzo         11.917172
Abril         10.865449
Mayo          10.866179
Junio         11.257315
Julio         10.001975
Agosto         9.813401
Septiembre    10.461841
Octubre       10.706175
Noviembre      9.779442
Diciembre      9.142626
dtype: float64

In [8]:
# b) Months with most house/street robberies
rob_house = data_frame["Robo_en_casa_habitación"].nlargest(3)
rob_house

mes
Noviembre    209539
Diciembre    205733
Junio        171718
Name: Robo_en_casa_habitación, dtype: int64

In [10]:
# c) Recurring crime
df = data_frame
df.drop(columns="total", inplace=True)
for i in df.index:
    max_value = df.loc[i].max()
    for j in df.columns:
        if df.loc[i,j] == max_value:
            print(f"{i} {j}: {max_value}")
            break

Enero Robo_asalto_en_la_calle: 591161
Febrero Robo_asalto_en_la_calle: 767891
Marzo Robo_asalto_en_la_calle: 715795
Abril Robo_asalto_en_la_calle: 555979
Mayo Robo_asalto_en_la_calle: 710044
Junio Robo_asalto_en_la_calle: 644790
Julio Robo_asalto_en_la_calle: 527744
Agosto Robo_asalto_en_la_calle: 484218
Septiembre Robo_asalto_en_la_calle: 627147
Octubre Robo_asalto_en_la_calle: 696700
Noviembre Robo_asalto_en_la_calle: 839819
Diciembre Robo_asalto_en_la_calle: 861550

In [11]:
# d) Numbers of each crime
for crime in df.columns:
    total = sum(df.loc[:,crime])
    print(f"{crime}:{total}")

Robo_total_de_vehículo:633951
Robo_parcial_de_vehículo:2735866
Vandalismo:2210883
Robo_en_casa_habitación:1815181
Robo_asalto_en_la_calle:8022838
Otros_robos:1015274
Fraude_bancario:2789289
Fraude_al_consumidor:1685109
Extorsión:4472089
Amenazas:2736539
Agresión_física:1086913
Secuestro:104779
Hostigamiento_sexual:2312857
Violación_sexual:96752
Otros:99596

In [15]:
# e) mean, max and min for each crime
for c in df.columns:
    print(df[c].describe())
    print()

count       12.000000
mean     52829.250000
std      12916.078367
min      38884.000000
25%      41917.750000
50%      50404.000000
75%      63102.750000
max      78790.000000
Name: Robo_total_de_vehículo, dtype: float64

count        12.000000
mean     227988.833333
std       40519.043460
min      172323.000000
25%      189462.750000
50%      229183.500000
75%      260093.500000
max      288800.000000
Name: Robo_parcial_de_vehículo, dtype: float64

count        12.000000
mean     184240.250000
std       29726.413752
min      143254.000000
25%      156142.250000
50%      187295.000000
75%      207382.500000
max      228568.000000
Name: Vandalismo, dtype: float64

count        12.000000
mean     151265.083333
std       31372.453848
min      115087.000000
25%      126900.500000
50%      142734.500000
75%      168742.750000
max      209539.000000
Name: Robo_en_casa_habitación, dtype: float64

count        12.000000
mean     668569.833333
std      119065.151651
min      484218.000000
25%      582365.500000
50%      670745.000000
75%      728819.000000
max      861550.000000
Name: Robo_asalto_en_la_calle, dtype: float64

count        12.000000
mean      84606.166667
std       16335.868994
min       67922.000000
25%       73267.750000
50%       80324.000000
75%       86911.750000
max      116764.000000
Name: Otros_robos, dtype: float64

count        12.000000
mean     232440.750000
std       35237.943174
min      186421.000000
25%      212142.750000
50%      217249.000000
75%      246130.750000
max      297788.000000
Name: Fraude_bancario, dtype: float64

count        12.000000
mean     140425.750000
std       45272.584737
min       94562.000000
25%      104251.250000
50%      125246.000000
75%      170985.000000
max      233877.000000
Name: Fraude_al_consumidor, dtype: float64

count        12.000000
mean     372674.083333
std       78416.773555
min      259873.000000
25%      313868.750000
50%      355351.000000
75%      422231.750000
max      510506.000000
Name: Extorsión, dtype: float64

count        12.000000
mean     228044.916667
std       52551.459794
min      134701.000000
25%      189772.250000
50%      231884.500000
75%      254891.000000
max      335929.000000
Name: Amenazas, dtype: float64

count        12.000000
mean      90576.083333
std       21519.160800
min       67838.000000
25%       75243.500000
50%       88097.000000
75%       94486.250000
max      132410.000000
Name: Agresión_física, dtype: float64

count       12.000000
mean      8731.583333
std       6509.224384
min       1674.000000
25%       4581.000000
50%       7613.500000
75%       9348.000000
max      24172.000000
Name: Secuestro, dtype: float64

count        12.000000
mean     192738.083333
std       49405.493795
min      148256.000000
25%      156513.000000
50%      174841.500000
75%      209151.500000
max      285509.000000
Name: Hostigamiento_sexual, dtype: float64

count       12.000000
mean      8062.666667
std       4752.965205
min       1854.000000
25%       4140.250000
50%       7114.000000
75%      11718.250000
max      15364.000000
Name: Violación_sexual, dtype: float64

count       12.000000
mean      8299.666667
std       5688.082059
min       2677.000000
25%       4147.750000
50%       7144.500000
75%      10243.250000
max      19680.000000
Name: Otros, dtype: float64