## African economy exercise

**Source of the Data: https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data/downloads/africa-economic-banking-and-systemic-crisis-data.zip/1**


This dataset is a derivative of Reinhart et. al's Global Financial Stability dataset which can be found online at: https://www.hbs.edu/behavioral-finance-and-financial-stability/data/Pages/global.aspx

The dataset will be valuable to those who seek to understand the dynamics of financial stability within the African context.

Content
The dataset specifically focuses on the Banking, Debt, Financial, Inflation and Systemic Crises that occurred, from 1860 to 2014, in 13 African countries, including: Algeria, Angola, Central African Republic, Ivory Coast, Egypt, Kenya, Mauritius, Morocco, Nigeria, South Africa, Tunisia, Zambia and Zimbabwe.



* caseA     number which denotes a specific country
* cc3A     three letter country code
* country    The name of the country
* year   The year of the observation
* systemic_crisis"0" means that no systemic crisis occurred in the year and "1" means that a systemic crisis occurred in the year.
* exch_usd    The exchange rate of the country vis-a-vis the USD
* domestic_debt_in_default   "0" means that no sovereign domestic debt default occurred in the year and "1" means that a sovereign domestic debt default occurred in the year
* sovereign_external_debt_default  "0" means that no sovereign external debt default occurred in the year and "1" means that a sovereign external debt default occurred in the year
* gdp_weighted_default    The total debt in default vis-a-vis the GDP
* inflation_annual_cpi    The annual CPI Inflation rate
* independence   "0" means "no independence" and "1" means "independence"
* currency_crises  "0" means that no currency crisis occurred in the year and "1" means that a currency crisis occurred in the year
* inflation_crises  "0" means that no inflation crisis occurred in the year and "1" means that an inflation crisis occurred in the year
* banking_crisis"no_crisis" means that no banking crisis occurred in the year and "crisis" means that a banking crisis occurred in the year

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("african_econ_crises.csv")
df

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [3]:
df.shape

(1059, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   case                             1059 non-null   int64
 1   cc3                              1059 non-null   object
 2   country                          1059 non-null   object
 3   year                             1059 non-null   int64
 4   systemic_crisis                  1059 non-null   int64
 5   exch_usd                         1059 non-null   float64
 6   domestic_debt_in_default         1059 non-null   int64
 7   sovereign_external_debt_default  1059 non-null   int64
 8   gdp_weighted_default             1059 non-null   float64
 9   inflation_annual_cpi             1059 non-null   float64
 10  independence                     1059 non-null   int64
 11  currency_crises                  1059 non-null   int64
 12  inflation_crises                 1059 non-null   int64
 13  banking_crisis                   1059 non-null   object
dtypes: float64(3), int64(8), object(3)
memory usage: 116.0+ KB

**TASK: How many countries are represented in this data set?**

In [5]:
df["country"].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
df["country"].nunique()

13

**TASK: What country had this highest annual CPI Inflation rate? What was the inflation rate?**

In [7]:
df.sort_values(by="inflation_annual_cpi", ascending=False).head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,2.000000e-03,1,1,0.0,2.198970e+07,1,1,1,crisis
1052,70,ZWE,Zimbabwe,2007,1,1.900000e-16,1,1,0.0,6.627989e+04,1,1,1,crisis
143,2,AGO,Angola,1996,0,2.019940e-01,1,1,0.0,4.146010e+03,1,1,1,crisis
142,2,AGO,Angola,1995,0,5.692000e-03,1,1,0.0,2.672230e+03,1,2,1,crisis
140,2,AGO,Angola,1993,0,6.500000e-06,1,1,0.0,1.379476e+03,1,1,1,crisis

**TASK: In what year did Kenya have its first System Crisis?**

In [8]:
filt = (df["systemic_crisis"] == 1) & (df["cc3"] == "KEN")

a = df[filt]
a.sort_values(by="year", ascending=True)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis
476,35,KEN,Kenya,1986,1,16.0422,0,0,0.0,10.284,1,0,0,crisis
477,35,KEN,Kenya,1987,1,16.5149,0,0,0.0,13.007,1,0,0,crisis
478,35,KEN,Kenya,1988,1,18.5994,0,0,0.0,4.804,1,0,0,crisis
479,35,KEN,Kenya,1989,1,21.6010,0,0,0.0,7.617,1,1,0,no_crisis
482,35,KEN,Kenya,1992,1,36.2163,0,0,0.0,27.332,1,1,1,crisis
483,35,KEN,Kenya,1993,1,68.1631,0,0,0.0,45.979,1,1,1,crisis
484,35,KEN,Kenya,1994,1,44.8389,0,1,0.0,28.814,1,0,1,crisis
485,35,KEN,Kenya,1995,1,55.9389,0,1,0.0,1.554,1,0,0,crisis
486,35,KEN,Kenya,1996,1,55.0211,0,1,0.0,8.862,1,0,0,no_crisis
487,35,KEN,Kenya,1997,1,62.6778,0,1,0.0,11.924,1,0,0,no_crisis
488,35,KEN,Kenya,1998,1,61.9056,0,1,0.0,6.716,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,72.9306,0,0,0.0,5.753,1,1,0,no_crisis

**TASK: How many yearly systemic crisises have occurred per country?**

In [9]:
df.groupby(by="country")["systemic_crisis"].sum()

country
Algeria                      4
Angola                       0
Central African Republic    19
Egypt                        6
Ivory Coast                  4
Kenya                       13
Mauritius                    0
Morocco                      2
Nigeria                     10
South Africa                 0
Tunisia                      5
Zambia                       4
Zimbabwe                    15
Name: systemic_crisis, dtype: int64

**TASK: How many years did  Zimbabwe have a sovereign external debt default occur?**

In [10]:
filt2 = (df["country"] == "Zimbabwe")
df[filt2]["sovereign_external_debt_default"].sum()

30

**TASK: In what year did Algeria have its highest exchange rate?**

In [11]:
filt2 = (df["country"] == "Algeria")
df.iloc[df[filt2]["exch_usd"].argmax()]

case                                       1
cc3                                      DZA
country                              Algeria
year                                    2014
systemic_crisis                            0
exch_usd                           87.970698
domestic_debt_in_default                   0
sovereign_external_debt_default            0
gdp_weighted_default                     0.0
inflation_annual_cpi                   2.917
independence                               1
currency_crises                            0
inflation_crises                           0
banking_crisis                     no_crisis
Name: 84, dtype: object