In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('primary_results.csv')
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [3]:
# To access the first or last lines .head() or .tail() are used

firsts = df.head(3)
firsts

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329

In [4]:
lasts = df.tail(3)
lasts
#                                       To display all the columns and rows:
# pd.set_option('display.max_columns', #)
# pd.set_option('display.max_rows', #)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [5]:
df = df.set_index("state")  # In this case state becomes the index
# To reset the index use: votes.reset_index()
# To sort the index use votes.sort_index()

In [6]:
# In this case a data frame is printed out with all the "indexes" or values
df.loc["Texas"].head()
# referred to Texas

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
Texas,TX,Anderson,48001.0,Democrat,Bernie Sanders,299,0.227
Texas,TX,Anderson,48001.0,Democrat,Hillary Clinton,994,0.756
Texas,TX,Andrews,48003.0,Democrat,Bernie Sanders,38,0.330
Texas,TX,Andrews,48003.0,Democrat,Hillary Clinton,76,0.661
Texas,TX,Angelina,48005.0,Democrat,Bernie Sanders,622,0.235

In [7]:
# A series is printed out with the indexes as states and values as candidate votes
df["candidate"].tail()

state
Wyoming        Ted Cruz
Wyoming    Donald Trump
Wyoming     John Kasich
Wyoming     Marco Rubio
Wyoming        Ted Cruz
Name: candidate, dtype: object

In [8]:
# To have numerical data about any column use .value_counts()
# in this case it takes as the index values of the column
total_candidate_counts = df["candidate"].value_counts()
total_candidate_counts

Bernie Sanders     4205
Hillary Clinton    4205
Donald Trump       3586
John Kasich        3586
Ted Cruz           3586
Marco Rubio        2555
Ben Carson         1669
 No Preference      351
Jeb Bush            155
Carly Fiorina       109
Chris Christie      109
 Uncommitted         99
Martin O'Malley      99
Mike Huckabee        99
Rand Paul            99
Rick Santorum        99
Name: candidate, dtype: int64

In [9]:
# Filtering - Using Conditionals to Filter Rows and Columns
# in this case to perform a filter, a statement is declared with a condition to be filtered
voted_zero = df.votes == 0
# declaration is evaluated in the df (evaluation can be performed in the declaration itself)
df[voted_zero]

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
Alaska,AK,State House District 12,90200112.0,Democrat,Hillary Clinton,0,0.0
Alaska,AK,State House District 23,90200123.0,Democrat,Hillary Clinton,0,0.0
Alaska,AK,State House District 3,90200103.0,Democrat,Hillary Clinton,0,0.0
Alaska,AK,State House District 31,90200131.0,Democrat,Hillary Clinton,0,0.0
Alaska,AK,State House District 32,90200132.0,Democrat,Hillary Clinton,0,0.0
...,...,...,...,...,...,...,...
Wyoming,WY,Teton-Sublette,95600028.0,Republican,John Kasich,0,0.0
Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0

In [10]:
votes_NY = df[(df.county == "Manhattan") & (
    df.party == "Democrat")]  # and statement
votes_NY

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

In [11]:
votes_NY_vs_LA = df[(df.county == "Manhattan") | (
    df.county == "Los Angeles")]  # or statement
votes_NY_vs_LA

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
California,CA,Los Angeles,6037.0,Republican,Donald Trump,179130,0.698
California,CA,Los Angeles,6037.0,Republican,John Kasich,33559,0.131
California,CA,Los Angeles,6037.0,Republican,Ted Cruz,30775,0.120
New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663
New York,NY,Manhattan,36061.0,Republican,Donald Trump,10393,0.418
New York,NY,Manhattan,36061.0,Republican,John Kasich,11251,0.452
New York,NY,Manhattan,36061.0,Republican,Ted Cruz,3243,0.130

In [12]:
states = ["CA", "TX"]
# In this type of filter .isin() a logical value is printed
logical_filter = df['state_abbreviation'].isin(states)
# if True, value's printed out, in this case an extra filter is
result = df.loc[logical_filter, "fraction_votes"]
result

state
California    0.458
California    0.537
California    0.535
California    0.456
California    0.465
              ...
Texas         0.000
Texas         0.000
Texas         0.000
Texas         0.000
Texas         0.000
Name: fraction_votes, Length: 2068, dtype: float64

In [13]:
# searches with a string method the word and outputs a boolean
word_filter = df["candidate"].str.contains("Trump")
# if True, value's printed out, in this case an extra filter is
filtered_data = df.loc[word_filter, "fraction_votes"]
filtered_data  # applied where only the fraction votes are printed out

state
Alabama    0.445
Alabama    0.469
Alabama    0.501
Alabama    0.494
Alabama    0.487
           ...
Wyoming    0.000
Wyoming    0.000
Wyoming    0.180
Wyoming    0.525
Wyoming    0.000
Name: fraction_votes, Length: 3586, dtype: float64

In [14]:
#                                              Sorting
# Values
votes_sorted = df.sort_values(by="votes", ascending=False)
votes_sorted

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536
...,...,...,...,...,...,...,...
Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000
Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000
Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000
Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000
Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000

In [15]:
# Data frames
filter_sort = df.sort_values(by=["votes", "fraction_votes"], ascending=[False, False])
filter_sort

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
state,,,,,,,
California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536
...,...,...,...,...,...,...,...
Wyoming,WY,Teton-Sublette,95600028.0,Republican,John Kasich,0,0.000
Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000

In [16]:
#                           Grouping and Aggregating - Analyzing and Exploring Data

# For a general analysis the .describe() is used
print(df.describe())  # if itÂ´s numerical data it makes statistics
df['party'].describe()  # if it isn't, general data is provided

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

count          24611
unique             2
top       Republican
freq           15652
Name: party, dtype: object

In [17]:
states_grouped = df.groupby("state")  # In this case a new df is created where all the values are merged by state,
# however it can't be printed

total_votes_state = states_grouped.votes.sum()
total_votes_state

state
Alabama           1223959
Alaska              22469
Arizona            834200
Arkansas           605971
California        4938197
Colorado           121184
Connecticut        531302
Delaware           160416
Florida           3940929
Georgia           2032941
Hawaii              46886
Idaho              238989
Illinois          3372537
Indiana           1719291
Iowa               326704
Kansas             111296
Kentucky           648885
Louisiana          585781
Maine                3415
Maryland          1233272
Massachusetts     1813320
Michigan          2431111
Mississippi        614200
Missouri          1531672
Montana            257516
Nebraska           213691
Nevada              86815
New Hampshire      525966
New Jersey        1321220
New Mexico         309532
New York          2686539
North Carolina    2185747
North Dakota          354
Ohio              3204172
Oklahoma           766123
Oregon             933975
Pennsylvania      3176340
Rhode Island       179594
South Carolina    1105408
South Dakota       119881
Tennessee         1200576
Texas             4147889
Utah               254203
Vermont            192960
Virginia          1791672
Washington         537150
West Virginia      398352
Wisconsin         2073402
Wyoming              1183
Name: votes, dtype: int64

In [18]:
print(f"The total sum of votes in the US election was {total_votes_state.sum()} votes")

The total sum of votes in the US election was 56759187 votes

In [19]:
candidate_state = states_grouped["candidate"].value_counts().loc["Texas"]
candidate_state

candidate
Ben Carson         254
Bernie Sanders     254
Donald Trump       254
Hillary Clinton    254
John Kasich        254
Marco Rubio        254
Ted Cruz           254
Name: candidate, dtype: int64

In [20]:
# Many series can be grouped
votes_party_state = df.groupby(["state", "party"]).votes.sum()
votes_party_state

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

In [21]:
# .agg() helps to use more than one statistical formula
mean_and_median = states_grouped["votes"].agg(['mean', 'median'])
mean_and_median

                        mean  median
state
Alabama          2609.720682   983.0
Alaska             80.246429    35.5
Arizona         11122.666667  2843.0
Arkansas         1154.230476   494.0
California      17028.265517  2717.5
Colorado          946.750000   112.0
Connecticut       628.759763   339.0
Delaware        10694.400000  7338.0
Florida          9803.305970  3492.0
Georgia          1826.541779   493.0
Hawaii           1953.583333   798.0
Idaho             905.261364   255.0
Illinois         5457.179612  1047.5
Indiana          3737.589130  1468.5
Iowa              220.002694    36.0
Kansas           4637.333333  3721.0
Kentucky          901.229167   350.0
Louisiana        1525.471354   528.5
Maine               3.435614     1.0
Maryland        10277.266667  3404.0
Massachusetts     645.769231   186.0
Michigan         4881.748996  1408.0
Mississippi      1248.373984   544.0
Missouri         2219.814493   574.0
Montana           919.700000   213.0
Nebraska          459.550538    86.0
Nevada            729.537815    81.0
New Hampshire    5259.660000  2410.0
New Jersey      12583.047619  5283.0
New Mexico       1875.951515   527.0
New York         8666.254839  2397.0
North Carolina   3642.911667  1506.0
North Dakota        3.765957     3.0
Ohio             6068.507576  2265.0
Oklahoma         1421.378479   401.0
Oregon           5188.750000  1739.5
Pennsylvania     9481.611940  3572.0
Rhode Island      876.068293   528.0
South Carolina   3003.826087  1259.0
South Dakota      363.275758   142.5
Tennessee        1805.377444   638.0
Texas            2332.895951   314.5
Utah             1753.124138   230.0
Vermont           112.055749    32.0
Virginia         1924.459721   608.0
Washington       2754.615385   314.0
West Virginia    1448.552727   760.0
Wisconsin        5759.450000  2530.0
Wyoming            12.585106     2.5

In [22]:
state_appearance = df["state_abbreviation"].value_counts()  # Series with values of appearance of each state

group_s = df.groupby("state_abbreviation")

trump_supporters = group_s["candidate"].apply(lambda x: x.str.contains("Trump").sum())  # In this case a function is
# applied to candidates searching for Trump, if True value is summed

trump_df = pd.concat([state_appearance, trump_supporters], axis=1, sort=False)
# axis = 0 concatenates values by stacking them (rows) --> creates a series
# axis = 1 concatenates values by placing them together (columns) --> creates a data frame
trump_df.rename(columns={'state_abbreviation': 'total_votes', 'candidate': 'Trump_supporters'}, inplace=True)
trump_df

    total_votes  Trump_supporters
MA         2808               351
TX         1778               254
VT         1722               246
IA         1485                99
GA         1113               159
ME          994                 0
VA          931               133
CT          845               169
KY          720               120
MO          690               115
TN          665                95
IL          618               103
NC          600               100
OK          539                77
OH          528                88
AR          525                75
MI          498                83
MS          492                82
AL          469                67
NE          465                93
IN          460                92
FL          402                67
LA          384                64
SC          368                46
WI          360                72
PA          335                67
SD          330                66
NY          310                62
CA          290                58
MT          280                56
AK          280                40
WV          275                55
ID          264                44
RI          205                41
WA          195                39
OR          180                36
NM          165                33
UT          145                29
CO          128                 0
MD          120                24
NV          119                17
NJ          105                21
NH          100                10
WY           94                12
ND           94                 0
AZ           75                15
HI           24                 4
KS           24                 4
DE           15                 3

In [23]:

trump_df["percentage"] = 100 * (trump_df["Trump_supporters"]) / (trump_df['total_votes'])
trump_df

# Duplicates indexes: to verify that the indices in the result of pd.concat() do not overlap, specify the
# verify_integrity flag set to True (use it in a try except loop).
# Ignore index: useful in pd.concat() to reindex elements --> ignore_index=True

    total_votes  Trump_supporters  percentage
MA         2808               351   12.500000
TX         1778               254   14.285714
VT         1722               246   14.285714
IA         1485                99    6.666667
GA         1113               159   14.285714
ME          994                 0    0.000000
VA          931               133   14.285714
CT          845               169   20.000000
KY          720               120   16.666667
MO          690               115   16.666667
TN          665                95   14.285714
IL          618               103   16.666667
NC          600               100   16.666667
OK          539                77   14.285714
OH          528                88   16.666667
AR          525                75   14.285714
MI          498                83   16.666667
MS          492                82   16.666667
AL          469                67   14.285714
NE          465                93   20.000000
IN          460                92   20.000000
FL          402                67   16.666667
LA          384                64   16.666667
SC          368                46   12.500000
WI          360                72   20.000000
PA          335                67   20.000000
SD          330                66   20.000000
NY          310                62   20.000000
CA          290                58   20.000000
MT          280                56   20.000000
AK          280                40   14.285714
WV          275                55   20.000000
ID          264                44   16.666667
RI          205                41   20.000000
WA          195                39   20.000000
OR          180                36   20.000000
NM          165                33   20.000000
UT          145                29   20.000000
CO          128                 0    0.000000
MD          120                24   20.000000
NV          119                17   14.285714
NJ          105                21   20.000000
NH          100                10   10.000000
WY           94                12   12.765957
ND           94                 0    0.000000
AZ           75                15   20.000000
HI           24                 4   16.666667
KS           24                 4   16.666667
DE           15                 3   20.000000

In [24]:
#                                       Merging data frames

# To merge two data frames a common set of values (column) is needed, without this merging is impossible

poverty_df = pd.read_csv('PovertyEstimates.csv')
poverty_df.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [25]:
# To merge two datasets with different column names it is used the left_on and right_on keywords to specify the two
# column names:

merged_df = df.merge(poverty_df, left_on="fips", right_on="FIPStxt")
merged_df.drop(columns=["FIPStxt"], inplace=True)
merged_df.rename(columns={"PCTPOVALL_2015": "poverty_estimate_2015"}, inplace=True)
merged_df

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,poverty_estimate_2015
0,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,12.7
1,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,12.7
2,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,12.7
3,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,12.7
4,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,12.7
...,...,...,...,...,...,...,...,...
17469,WY,Uinta,56041.0,Democrat,Hillary Clinton,4,0.444,9.8
17470,WY,Washakie,56043.0,Democrat,Bernie Sanders,1,0.333,11.2
17471,WY,Washakie,56043.0,Democrat,Hillary Clinton,2,0.667,11.2
17472,WY,Weston,56045.0,Democrat,Bernie Sanders,1,0.500,9.8
17473,WY,Weston,56045.0,Democrat,Hillary Clinton,1,0.500,9.8

In [26]:
merged_df.to_csv("new_df.csv")